@charset "UTF-8";

/* ==========================================================================
   各種スタイル
   ========================================================================== */

.wrap {
	width: 50em;
	margin: 0 auto;
}
@media ( max-width: $break-midium ) {
.wrap {
	width: 100% - 2%;
	padding: 0 1%;
}
}

/* うちのロゴ */
.ci {
	float: left;
	width: 50%;
	img {
		@include img;
		width: 82%;
		margin: 0 auto;
	}
}
@media ( max-width: $break-midiumsmall ) {
.ci {
	float: none;
	width: 100%;
	img {
		width: 280px;
	}
}
}
.menubtn {
	display: none;
}
@media ( max-width: $break-midiumsmall ) {
.menubtn {
	display: block;
	position: absolute;
	top: 0;
	right: 10px;
	img {
		width: 54px;
	}
}
}
/* グロナビ */
.gnav {
	float: left;
	width: 50%;
	font-size: r-size(20,16);
	ul {
		margin: 1em 0;
		list-style: none;
	}
	a {
		color: #fff;
	}
}
@media ( max-width: $break-midiumsmall ) {
.gnav {
	display: none;
	float: none;
	width: 100%;
	ul {
		padding: 0;
	}
	li {
		background-color: #333;
		background-color: rgba(51,51,51,.8);
		&:nth-child(2n) {
			background-color: #222;
			background-color: rgba(34,34,34,.8);
		}
	}
	a {
		display: block;
		padding: .2em 0;
	}
}
}
/* メインコピー */
.maincopy-outer {
	clear: both;
	text-align: center;
}
.maincopy {
	font-size: r-size(24,16);
}
/* SNS */
.sns {
	margin: 1em 0;
	padding: 0;
	list-style: none;
	li {
		float: left;
	}
}
/* セクションタイトル */
.stitle {
	margin: 30px 0 10px;
	text-align: center;
	border-radius: 2px;
}
#stitle-about {
	.stitle {
		background-color: $about-color;
		background-color: rgba(0,153,67,.7);
	}
}
#stitle-do {
	.stitle {
		background-color: $do-color;
		background-color: rgba(229,0,17,.7);
	}
}
#stitle-folio {
	.stitle {
		background-color: $folio-color;
		background-color: rgba(255,240,0,.7);
		color: #000;
	}
}
#stitle-sche {
	.stitle {
		background-color: $sche-color;
		background-color: rgba(28,31,135,.7);
	}
}
#stitle-inquiry {
	.stitle {
		background-color: $inquiry-color;
		background-color: rgba(228,0,126,.7);
	}
}
#stitle-others {
	.stitle {
		background-color: $others-color;
		background-color: rgba(0,160,232,.7);
	}
}
#stitle-bility {
	.stitle {
		background-color: $bility-color;
		background-color: rgba(255,255,255,.7);
		color: #000;
	}
}
.stitle-sub {
	text-align: center;
	&:before {
		content: "ー ";
	}
	&:after {
		content: " ー";
	}
}
.stitle-sub-do {
	&:before, &:after {
		color: $do-color;
		opacity: .7;
	}
}
.stitle-sub-folio {
	margin: 0;
	&:before, &:after {
		color: $folio-color;
		opacity: .7;
	}
}
.stitle-sub-others {
	&:before, &:after {
		color: $others-color;
		opacity: .7;
	}
}
/* 矢印付きリスト */
.arrowlink {
	position: relative;
	padding: 0 0 0 .7em;
	&:before {
		display: block;
		content: "";
		position: absolute;
		top: .5em;
		left: 0;
		width: 0;
		height: 0;
		border: .3em solid transparent;
	}
}
.link-about {
	&:before {
		border-left-color: $about-color;
	}
}
.link-do {
	&:before {
		border-left-color: $do-color;
	}
}
.link-folio {
	&:before {
		border-left-color: $folio-color;
	}
}
.link-sche {
	&:before {
		border-left-color: $sche-color;
	}
}
.link-inquiry {
	&:before {
		border-left-color: $inquiry-color;
	}
}
.link-others {
	&:before {
		border-left-color: $others-color;
	}
}
.link-bility {
	&:before {
		border-left-color: $bility-color;
	}
}
/* 定義リスト */
.dlist01 {
	dt {
		float: left;
		margin: 0 1em 0 0;
		clear: both;
		&:after {
			content: "：";
		}
	}
	dd {
		overflow: hidden;
	}
}
.dlist01-about {
	dt {
		width: 8em;
	}
}
.dlist02 {
	dd {
		margin: 0;
	}
	.schedule-datevenue {
		font-weight: bold;
	}
}
/* リスト */
.rlist {
	padding: 0 0 0 1em;
	list-style: none;
	li {
		&:before {
			content: "● ";
			color: $do-color;
		}
	}
}

/* ポートフォリオ */
.webfolio {
	float: left;
	width: 48%;
}
.drumfolio {
	float: right;
	width: 48%;
	.drumfolio-item {
		overflow: hidden;
		video {
			width: 380px;
		}
	}
}
@media ( max-width: $break-midium ) {
.webfolio {
	float: none;
	width: 100%;
	#webfolio-slider {
		width: 80%;
		margin: 0 auto;
	}
}
.drumfolio {
	float: none;
	width: 100%;
	#drumfolio-slider {
		width: 380px;
		margin: 0 auto;
	}
}
}
@media ( max-width: $break-small ) {
.drumfolio {
	#drumfolio-slider {
		width: 300px;
		video {
			width: 300px;
		}
	}
}
}
/* スケジュール */
#stitle-sche {
	clear: both;
}
/* Sau */
.Sau-pic {
	float: right;
	margin: 0 0 0 20px;
}
@media ( max-width: $break-midiumsmall ) {
.Sau-pic {
	float: none;
	margin: 0;
	img {
		@include img;
		width: 280px;
		margin: 0 auto;
	}
}
}
/* インスピレーション */
.inspiration-entry {
	border-bottom: 1px dotted #fff;
	&:last-child {
		border: none;
	}
	h4 {
		width: 30em;
		margin: 1em auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	a {
		word-wrap: break-word;
	}
}
@media ( max-width: $break-midium ) {
.inspiration-entry {
	h4 {
		width: auto;
		white-space: normal;
	}
}
}
/* 達成基準リスト */
.tbl {
	th {
		padding: .2em;
		border: 1px #aaa solid;
	}
	td {
		padding: .2em;
		border: 1px #aaa solid;
	}
}
.backtotop {
	text-align: right;
}
/* フッター */
.footer {
	padding: 2em 0;
}
.remark {
	text-align: center;
	font-size: r-size(14,16);
}
.copyright {
	text-align: center;
}
